@import '../fonts/fonts';
@import '../mixins/media';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .svg-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: inherit;
    vertical-align: middle;
    fill: none;
    stroke: currentColor;
  }

  *:focus-visible {
    outline: none !important;
  }

  .svg-fill {
    fill: currentColor;
    stroke: none;
  }

  .svg-up {
    transform: rotate(0deg);
  }

  .svg-right {
    transform: rotate(90deg);
  }
  .svg-down {
    transform: rotate(180deg);
  }

  .svg-left {
    transform: rotate(-90deg);
  }

  .container {
    width: 100%;
    padding: 0 15px;

    @include sm-tablets {
      width: 100%;
    }

    @include md-desktop {
      max-width: 1170px;
      margin: 0 auto;
    }

    .row {
      width: calc(100% + 30px);
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px 0;
      gap: 0;

      [class^='col'] {
        padding: 0 15px 0;
      }

      .col-12 {
        width: 100%;
      }

      .col-11 {
        width: calc(100% / 12 * 11);
      }

      .col-10 {
        width: calc(100% / 12 * 10);
      }

      .col-9 {
        width: calc(100% / 12 * 9);
      }

      .col-8 {
        width: calc(100% / 12 * 8);
      }

      .col-7 {
        width: calc(100% / 12 * 7);
      }

      .col-6 {
        width: calc(100% / 12 * 6);
      }

      .col-5 {
        width: calc(100% / 12 * 5);
      }

      .col-4 {
        width: calc(100% / 12 * 4);
      }

      .col-3 {
        width: calc(100% / 12 * 3);
      }

      .col-2 {
        width: calc(100% / 12 * 2);
      }

      .col-1 {
        width: calc(100% / 12 * 1);
      }

      .col-sm-12 {
        @include sm-tablets {
          width: 100%;
        }
      }

      .col-sm-11 {
        @include sm-tablets {
          width: calc(100% / 12 * 11);
        }
      }

      .col-sm-10 {
        @include sm-tablets {
          width: calc(100% / 12 * 10);
        }
      }

      .col-sm-9 {
        @include sm-tablets {
          width: calc(100% / 12 * 9);
        }
      }

      .col-sm-8 {
        @include sm-tablets {
          width: calc(100% / 12 * 8);
        }
      }

      .col-sm-7 {
        @include sm-tablets {
          width: calc(100% / 12 * 7);
        }
      }

      .col-sm-6 {
        @include sm-tablets {
          width: calc(100% / 12 * 6);
        }
      }

      .col-sm-5 {
        @include sm-tablets {
          width: calc(100% / 12 * 5);
        }
      }

      .col-sm-4 {
        @include sm-tablets {
          width: calc(100% / 12 * 4);
        }
      }

      .col-sm-3 {
        @include sm-tablets {
          width: calc(100% / 12 * 3);
        }
      }

      .col-sm-2 {
        @include sm-tablets {
          width: calc(100% / 12 * 2);
        }
      }

      .col-sm-1 {
        @include sm-tablets {
          width: calc(100% / 12 * 1);
        }
      }

      .col-md-12 {
        @include md-desktop {
          width: 100%;
        }
      }

      .col-md-11 {
        @include md-desktop {
          width: calc(100% / 12 * 11);
        }
      }

      .col-md-10 {
        @include md-desktop {
          width: calc(100% / 12 * 10);
        }
      }

      .col-md-9 {
        @include md-desktop {
          width: calc(100% / 12 * 9);
        }
      }

      .col-md-8 {
        @include md-desktop {
          width: calc(100% / 12 * 8);
        }
      }

      .col-md-7 {
        @include md-desktop {
          width: calc(100% / 12 * 7);
        }
      }

      .col-md-6 {
        @include md-desktop {
          width: calc(100% / 12 * 6);
        }
      }

      .col-md-5 {
        @include md-desktop {
          width: calc(100% / 12 * 5);
        }
      }

      .col-md-4 {
        @include md-desktop {
          width: calc(100% / 12 * 4);
        }
      }

      .col-md-3 {
        @include md-desktop {
          width: calc(100% / 12 * 3);
        }
      }

      .col-md-2 {
        @include md-desktop {
          width: calc(100% / 12 * 2);
        }
      }

      .col-md-1 {
        @include md-desktop {
          width: calc(100% / 12 * 1);
        }
      }

      .col-lg-12 {
        @include lg-desktop {
          width: 100%;
        }
      }

      .col-lg-11 {
        @include lg-desktop {
          width: calc(100% / 12 * 11);
        }
      }

      .col-lg-10 {
        @include lg-desktop {
          width: calc(100% / 12 * 10);
        }
      }

      .col-lg-9 {
        @include lg-desktop {
          width: calc(100% / 12 * 9);
        }
      }

      .col-lg-8 {
        @include lg-desktop {
          width: calc(100% / 12 * 8);
        }
      }

      .col-lg-7 {
        @include lg-desktop {
          width: calc(100% / 12 * 7);
        }
      }

      .col-lg-6 {
        @include lg-desktop {
          width: calc(100% / 12 * 6);
        }
      }

      .col-lg-5 {
        @include lg-desktop {
          width: calc(100% / 12 * 5);
        }
      }

      .col-lg-4 {
        @include lg-desktop {
          width: calc(100% / 12 * 4);
        }
      }

      .col-lg-3 {
        @include lg-desktop {
          width: calc(100% / 12 * 3);
        }
      }

      .col-lg-2 {
        @include lg-desktop {
          width: calc(100% / 12 * 2);
        }
      }

      .col-lg-1 {
        @include lg-desktop {
          width: calc(100% / 12 * 1);
        }
      }

      .col-xl-12 {
        @include xl-desktop {
          width: 100%;
        }
      }

      .col-xl-11 {
        @include xl-desktop {
          width: calc(100% / 12 * 11);
        }
      }

      .col-xl-10 {
        @include xl-desktop {
          width: calc(100% / 12 * 10);
        }
      }

      .col-xl-9 {
        @include xl-desktop {
          width: calc(100% / 12 * 9);
        }
      }

      .col-xl-8 {
        @include xl-desktop {
          width: calc(100% / 12 * 8);
        }
      }

      .col-xl-7 {
        @include xl-desktop {
          width: calc(100% / 12 * 7);
        }
      }

      .col-xl-6 {
        @include xl-desktop {
          width: calc(100% / 12 * 6);
        }
      }

      .col-xl-5 {
        @include xl-desktop {
          width: calc(100% / 12 * 5);
        }
      }

      .col-xl-4 {
        @include xl-desktop {
          width: calc(100% / 12 * 4);
        }
      }

      .col-xl-3 {
        @include xl-desktop {
          width: calc(100% / 12 * 3);
        }
      }

      .col-xl-2 {
        @include xl-desktop {
          width: calc(100% / 12 * 2);
        }
      }

      .col-xl-1 {
        @include xl-desktop {
          width: calc(100% / 12 * 1);
        }
      }

      .col-xxl-12 {
        @include xxl-desktop {
          width: 100%;
        }
      }

      .col-xxl-11 {
        @include xxl-desktop {
          width: calc(100% / 12 * 11);
        }
      }

      .col-xxl-10 {
        @include xxl-desktop {
          width: calc(100% / 12 * 10);
        }
      }

      .col-xxl-9 {
        @include xxl-desktop {
          width: calc(100% / 12 * 9);
        }
      }

      .col-xxl-8 {
        @include xxl-desktop {
          width: calc(100% / 12 * 8);
        }
      }

      .col-xxl-7 {
        @include xxl-desktop {
          width: calc(100% / 12 * 7);
        }
      }

      .col-xxl-6 {
        @include xxl-desktop {
          width: calc(100% / 12 * 6);
        }
      }

      .col-xxl-5 {
        @include xxl-desktop {
          width: calc(100% / 12 * 5);
        }
      }

      .col-xxl-4 {
        @include xxl-desktop {
          width: calc(100% / 12 * 4);
        }
      }

      .col-xxl-3 {
        @include xxl-desktop {
          width: calc(100% / 12 * 3);
        }
      }

      .col-xxl-2 {
        @include xxl-desktop {
          width: calc(100% / 12 * 2);
        }
      }

      .col-xxl-1 {
        @include xxl-desktop {
          width: calc(100% / 12 * 1);
        }
      }
    }
  }

  .slide-enter-active,
  .slide-leave-active {
    transform-origin: left top;
    transition: transform 0.49s ease;
  }

  .slide-enter, .slide-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    transform-origin: left top;
    transform: ScaleY(0);
  }
}

@layer utilities {
  .base-shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
  }

  .card-shadow {
    box-shadow: 0 4px 4px #bfbfbf;
  }

  .footer-shadow {
    box-shadow: 0px -20px 45px -13px rgba(0, 0, 0, 0.18);
  }
}

@layer components {
  .burger-button {
    span {
      transition: width 0.75s ease;
      transition-delay: 0.35s;
    }

    span,
    &:before,
    &:after {
      @apply block bg-black-100 w-full h-[3px] rounded-10;
    }

    &:before,
    &:after {
      transform-origin: center;
      transition: transform 0.55s ease;
      content: '';
      display: block;
    }

    @apply w-button h-button rounded-2 px-[8px] py-[11.5px] bg-white flex flex-col gap-1;

    &.active {
      span {
        width: 0;
        transition-delay: 0s;
      }

      &:before,
      &:after {
        transition-delay: 0.45s;
      }

      &:before {
        transform: TranslateY(8px) Rotate(-45deg);
      }

      &:after {
        transform: TranslateY(-8px) Rotate(45deg);
      }
    }
  }

  .menu-item {
    @apply leading-[29px] text-text font-jura text-black-80 px-1 transition-colors text-left;

    &:hover {
      @apply text-blue-80 bg-gray-100;
    }
  }

  .box-button {
    @apply h-button px-3  bg-blue-60 font-jura text-text text-white font-jura rounded-2 border border-blue-60 transition;

    &:hover {
      @apply bg-blue-80 border-blue-80;
    }

    &:focus {
      @apply bg-blue-60 border-blue-40;
    }
    &:active {
      @apply bg-blue-40 border-blue-40;
    }

    &.with-icon {
      @apply px-0 w-button h-button;
    }

    &.outlined-button {
      @apply bg-white border-blue-60 text-blue-60;

      &:hover {
        @apply border-blue-80 text-blue-80;
      }

      &:focus {
        @apply border-blue-40 text-blue-40;
      }

      &:active {
        @apply border-white text-blue-40;
      }

      &:disabled {
        @apply border-gray-60 text-gray-60;
      }
    }
  }

  .link-button {
    @apply text-text px-1 h-[42px] flex items-center text-blue-60 transition font-jura;

    &:hover {
      @apply text-blue-80;
    }

    &:active {
      @apply text-blue-40;
    }

    &.active-link {
      @apply bg-blue-40 text-white;
    }
  }

  .text-input {
    @apply relative;

    input {
      @apply h-[42px] w-full px-3 py-[11.5px] border border-blue-60 rounded-2 text-black-60 font-jura text-text transition;

      &:focus {
        @apply border-blue-80;
      }
    }

    &.with-icon {
      span {
        @apply absolute top-[7.5px] left-0 text-gray-40;
      }
    }

    &.underline-input {
      input {
        @apply border-t-0 border-x-0 rounded-0 h-8 pl-6;
      }
    }
  }

  .catalog-item {
    @apply p-1 text-text font-jura font-semibold text-black-60 cursor-pointer;

    &.active {
      @apply bg-blue-60 text-white;
    }
  }

  .tag-button {
    @apply p-1 text-text font-jura font-semibold text-blue-40 transition;

    &.active {
      @apply bg-blue-60 text-white;
    }

    &:disabled {
      @apply bg-gray-60 text-white;
    }
  }

  .price {
    &:after {
      content: ' BYN';
      display: inline;
    }
  }

  .gallery-dots {
    display: flex !important;

    @apply py-4 gap-2;

    li {
      cursor: pointer;
    }

    .slick-active div {
      @apply bg-blue-60;
    }
  }

  .gallery-image {
    @apply w-full aspect-[6/7] sm:aspect-auto sm:h-[455px] cursor-pointer rounded-2;

    img {
      @apply w-full h-full object-cover pointer-events-none rounded-2;
    }
  }

  .color-radio {
    padding: 0 !important;
    @apply invisible h-0 w-0;

    &:checked + div {
      @apply border-5 border-blue-80;
    }
  }

  .switch-slider {
    @apply w-10 h-5 rounded-[50px] bg-gray-80 relative transition cursor-pointer;

    button {
      @apply w-5 h-5 rounded-full bg-blue-60 border border-gray-80 absolute left-0 transition-all;
    }

    &.active {
      @apply bg-blue-60;

      button {
        @apply bg-white border-blue-60 left-5;
      }
    }
  }

  .dropdown-list {
    @apply flex flex-col gap-[3px] relative;

    &__label {
      @apply text-xs-text font-jura text-black-100;
    }

    button {
      @apply w-full h-button bg-blue-60 text-white flex justify-between items-center px-3 text-text font-jura rounded-2;

      svg {
        @apply transition;
      }
    }

    ul {
      top: calc(100% + 3px);
      @apply py-[2px] rounded-b-[3px] bg-gray-100 absolute w-full z-10;

      li button {
        @apply bg-gray-100 h-[29px] w-full text-black-60 px-3 py-1 text-text font-jura transition;

        &:hover {
          @apply bg-white;
        }
      }
    }
  }

  .start-grade-button {
    @apply text-blue-40;

    &:hover {
      @apply text-blue-100;
    }

    &:hover ~ & {
      @apply text-blue-100;
    }
  }

  .cart-product {
    @apply px-3 py-5 rounded-2 flex flex-col gap-3 w-full;
  }
}
