$xxl-desktop-width: 1536px;
$xl-desktop-width: 1280px;
$lg-desktop-width: 1024px;
$md-desktop-width: 768px;
$sm-tablets-width: 640px;

@mixin xxl-desktop {
  @media screen and (min-width: #{$xxl-desktop-width}) {
    @content;
  }
}

@mixin xl-desktop {
  @media only screen and (min-width: #{$xl-desktop-width}) {
    @content;
  }
}

@mixin lg-desktop {
  @media only screen and (min-width: #{$lg-desktop-width}) {
    @content;
  }
}

@mixin md-desktop {
  @media only screen and (min-width: #{$md-desktop-width}) {
    @content;
  }
}

@mixin sm-tablets {
  @media only screen and (min-width: #{$sm-tablets-width}) {
    @content;
  }
}
